@media screen and (max-width: 425px) {   
    .text-xs {
        font-size: 0.5rem; /* 12px */
        line-height: 1rem; /* 16px */    
    } 
};

@media screen and (max-width: 1023px) and (min-width: 426px) {
    .text-sm {
        font-size: small;
    } 
}

